@using Microsoft.AspNetCore.Authorization
@using SurfsUpClassLibrary



<hr />
<EditForm Model="@rev">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Rating:</label>
        <InputNumber class="form-control" @bind-Value="@rev.Rating" />
        <ValidationMessage For="@(()=> rev.Rating)" />
    </div>
    <div class="form-group">
        <label class="control-label">Beskrivelse:</label>
        <InputText class="form-control" @bind-Value="@rev.Description" />
        <ValidationMessage For="@(()=> rev.Description)" />
    </div>
    <div class="form-group">
        <label hidden class="control-label"></label>
        <InputDate hidden class="form-control" @bind-Value="@rev.Date" />
        <ValidationMessage For="@(()=> rev.Date)" />
    </div>
    <button type="submit" class="btn btn-primary" @onclick="@OnValidSubmit">
        @ButtonText
    </button>
</EditForm>

<div>
    <a asp-page="Index" href="/">Back to List</a>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

@code {

    [Parameter]
    public Review rev { get; set; } = new Review();

    [Parameter]
    public string ButtonText { get; set; } = "Save";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}
